import { createNamespace } from '@two-ui/base'

const [createComponent, bem] = createNamespace('{{name}}')

const {{name}}Props = {

}

export const = Two{{properCase name}} = createComponent({
  props: {
    ...{{name}}Props
  },
  setup (props, { slots, attrs }) {
    return () => {
      return <div>
        {{name}}
      </div>
    }
  }
})
