# two-ui {{ name }} component

## 安装

```shell
npm install @two-ui/{{ name }}
```

## 使用

```javascript
import two{{properCase name }} from '@two-ui/{{ name }}';

export default {
  components: {
    [two{{properCase name}}.name]: two{{properCase name }},
  },
};

```

## 介绍

这是 {{ name }} 组件

## 演示

<block>
  <h3>基础用法</h3>
  <p></p>

```html
  <two-{{ name }} />
```
</block>